.padding-right {
    padding-right: 15px;
}

.cb {
    clear: both;
}

.margin-vertical {
    margin: 15px 0;
    display: flex;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.child-spacing > * {
    margin-left: 15px;
}















.ingredient-item {
    cursor: pointer;
}

.ingredient-item:hover {
    background-color: #f5f5f5;
}

.ingredient-item.--is-selected {
    background-color: #f5f5f5;
}
